<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dead cryptos Archive</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascripts/application.js" defer></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1 class="main-title">The Dead Crypto Archives</h1>
  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/about/index">About</a>
    <a href="/cryptos/list_all">Cryptos</a>
    <a href="/stories/index">Stories</a>

  
    <a href="/sign_up">Sign up</a>
    
    <% if logged_in? %>
        <form class="nav-logout" action="/sessions" method="POST">
          <input type="hidden" name="_method" value="delete">
          <button class="nav-logout-button">Logout</button>
        </form>
    <% else %>

      <a href="/login">Log in</a>
    <% end %>  

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
      </a>
  </div>

  <%= yield %>

  <div class="line-divisor" id="last-line"></div>
  
</body>
</html>
