<% if logged_in?%>
<h3 onclick="on()">About this section</h3>
<div id="overlay" onclick="off()>
  <div id="text"">Welcome to our Dead Crypto story section. In view of the recent Terra LUNA and USD crash, the Dead Crypto Archives joins a worldwide campaing to promote mental health. We believe that sharing is an important part of this fight and we invite you to share your story. The cryptocurrency you are refering to must be included in our database.
  </div>
</div>

<% else %>
<h3>Welcome to our Dead Crypto story section. To view the stories, please Sign up or log in.</h3>
<% end %>