nav,
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 10px;
}

.internav {
  padding-left: 3px;
  padding-right: 3px;
}
body {
  /* display: grid;
  justify-content: center; */
  max-width: 600px;
  background-color: lightgrey;
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.crypto-logo {
  max-width: 50px;
}

.line-divisor {
  border-bottom: 2px solid black;
  margin: 15px 0;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.article-header {
  display: flex;
  flex-direction: column;
}

.article_buttons {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}

.form-button {
  all: unset;
  margin-left: 10px;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-direction: column;
}

/*  password confirmation validation*/
.pass {
  display: flex;
  flex-direction: column;
}

.image h2 {
  color: rgb(2, 149, 27);
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.username input,
.pass input {
  font-family: sans-serif;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 100px;
  border: none;
  text-align: center;
  outline: none;
}

.submit_btn {
  height: 30px;
  width: 80px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: rgb(0, 179, 95);
  margin-top: 15px;
}

.submit_btn:hover {
  background-color: rgba(0, 179, 95, 0.596);
  color: rgb(14, 14, 14);
  cursor: pointer;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text {
  position: absolute;
  text-align: center;
  font-weight: 600;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
