
<h2>Welcome!</h2>

<h3>This little project aims to keep track of the most popular and failed crypto projects</h3>


<article class="tasks">
<h4>Steps of the project</h4>

<li>Create the database and the wireframe - Practice CRUD setup</li>
<li>Create a list all function, an add, edit and edit functionality - Practice CRUD setup</li>
<li>Create a search in DB functionality - Practice CRUD and safe SQL practices</li>
<li>List items with different criterias (name, oldest project, etc..)</li>
<li>Integrate Coingecko API for realtime BTC price using httparty - Practice API integration</li>
<li>Integrate geolocalization for dead projects - Practica API integration</li>
<li>Add usernames with rights to edit and delete - No technical skills for this.. yet</li>
<li>Add a pool for accepting new updates - No technical skills for this.. yet</li>
</ul>

<h3>It was made purely for educational purpose, as Project 2 for the GA Software Engineer Immersive course, cohort #53</h3>

</article>
