<h2>Search your favourite Dead Crypto Project</h2>

<form action="/crypto/one_crypto">
  <input type="text" name="name">
  <button>Search</button>
</form>

<div class="line-divisor"></div>


<a href="/crypto/new">Click here to make your contribution!</a>
