<% if logged_in? %>

  <article>
    <h3>This little project aims to keep track of the most popular and failed crypto projects and individuals stories related to them. It requires registration and log in for access.</h3>
    <h4>Key features:</h4>
    <ul>
      <li>CRUD - Full-stack app. </li>
      <li>Secure login through password hashing (Bcrypt)</li>
      <li>Parameterized database queries in PostgreSQL.</li>
      <li>MVC design pater, clean and replicable.</li>
      <li>Three levels of access: guest, user (by sign up registered) and admin (cold setup).</li>
      <li>APIs: Coingecko for realtime BTC price and Purgomalum as profanity filter for posts.</li>
      <li>Password confirmation and reCaptcha implementation</li>
      <li>Contact us form with secure data transfer via SendGrid</li>
      <li>Responsive design.</li>
    </ul>

    <h4>You can visit the project GitHub repository <a href="https://github.com/Ikilzig/crude-app">here</a></h4>

    <h3>It was made purely for educational purpose, as Project 2 for the GA Software Engineer Immersive course, cohort #53, under the <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a>
    </h3> 

    <a href="/about/contact">Contact us here!</a>

  </article>

<% else %>
  <article class="tasks">
    <h3>This little project aims to keep track of the most popular and failed crypto projects and individuals stories related to them. It requires registration and log in for access.</h3>
    <h4>Key features:</h4>

    <li>CRUD - Full-stack app. </li>
    <li>Secure login through password hashing (Bcrypt)</li>
    <li>Parameterized database queries in PostgreSQL.</li>
    <li>MVC design pater, clean and replicable.</li>
    <li>Three levels of access: guest, user (by sign up registered) and admin (cold setup).</li>
    <li>APIs: Coingecko for realtime BTC price and Purgomalum as profanity filter for posts.</li>
    <li>Password confirmation and reCaptcha implementation</li>
    <li>Contact us form with secure data transfer via SendGrid</li>
    <li>Responsive design.</li>

    </ul>

    <h4>You can visit the project GitHub repository <a href="https://github.com/Ikilzig/crude-app">here</a></h4>

    <h3>It was made purely for educational purpose, as Project 2 for the GA Software Engineer Immersive course, cohort #53</h3> 

    <a href="/about/contact">Contact us here!</a>
  </article>
<% end %>