<h1>Log in</h1>

<form action="/sessions" method="POST">
  <label for="">Email</label>
  <input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

  <label for="">Password</label>
  <input type="password" name="password" required>

  <button>Log in</button>
</form>