
<h1><a href="/sign_up">Sign up!</a></h1>
<h3><%= message %></h3>
<form action="/users/create_user" method="POST">
  
  <label for="">*Name: </label>
  <input type="text" name="name" placeholder="Enter your user name" required>

  <label for="">*Email: </label>
  <input type="email" name="text" placeholder="Enter your email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

  <label for="">*Password: </label>
  <input id ="pass" type="password" name="password" placeholder="Enter your password" required>

  <label for="">*Confirm Password: </label>
  <input id="confirm_pass" type="password" name="confirm_password" placeholder="Confirm your password" onkeyup="validate_password()" required>
  <span id="wrong_pass_alert"></span>


   <button id="create" class="">Create user</button>
 
</form>

<%# onclick="wrong_pass_alert()" %>
