
<h1 class="form-title">Sign up!</h1>
<h3 class="form-title"><%= message %></h3>
<form class="form-data" action="/users/create_user" method="POST">
  
  <label for="">*Name: </label>
  <input type="text" name="name" placeholder="Enter your user name" required>

  <label for="">*Email: </label>
  <input type="text" name="email" placeholder="Enter your email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

  <label for="">*Password: </label>
  <input id ="pass" type="password" name="password" minlength="6" placeholder="Enter your password" required>

  <label for="">*Confirm Password: </label>
  <input id="confirm_pass" type="password" name="confirm_password" minlength="6" placeholder="Confirm your password" onkeyup="validate_password()" required>
  <%# <span id="wrong_pass_alert"></span> %>

  <div class="g-recaptcha" data-sitekey="<%= captcha_key %>"></div>

  <button id="create" class="form-button">Create user</button>
 
</form>